            @import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap");
            @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
            .root {
                --color-primario: #074ab5;
                --color-secundario: rgb(5, 87, 110);
                --color-fondo: #f3f4f6;
                --color-texto: #1f2937;
                --color-primary: #002952;
                --color-secondary: #0779409a;
                --color-text: #ffffff;
                --font-family: "Barlow", serif;
            }
            
            main {
                h1 {
                    color: rgb(29, 46, 114);
                    text-align: center;
                    font-size: 3rem;
                }
                h2 {
                    text-align: center;
                    font-size: 2.5rem;
                    font-weight: 200;
                    color: rgb(0, 73, 43);
                }
                p {
                    font-weight: 300;
                    text-align: justify;
                    font-size: 1.2rem;
                    color: rgb(1, 7, 88);
                }
            }
            
            body {
                font-family: Barlow, serif;
                margin: 0;
                padding: 0;
                background-color: hsla(193, 82%, 65%, 0.959);
            }
            
            .main-nav ul {
                font-size: 15px;
                display: flex;
                justify-content: center;
                gap: 1rem;
                list-style: none;
                padding: 0;
            }
            
            .main-nav .activo {
                color: #5900ff;
                /* Cambia este valor al color que desees */
            }
            
            .main-nav a {
                color: #000000;
                text-decoration: none;
                font-weight: 300;
                transition: color 0.3s ease;
            }
            
            .main-nav a:hover {
                color: #6ebda0;
                /* Color verde claro al pasar el mouse */
            }
            
            header {
                background-color: #00081000;
                min-height: 8vh;
                position: relative;
                padding: 1rem;
                color: #14000000;
            }
            
            .background-video {
                position: absolute;
                width: 100%;
                z-index: -1;
            }
            
            .nosotros-container {
                background: linear-gradient(to bottom, #456df3, #35d4a2);
                height: 100%;
                padding: 5% 10% 10% 10%;
            }
            
            .container-bio {
                margin: 1%;
            }
            
            .container-bio #fixed-word {
                align-items: center;
                font-weight: 200;
                font-size: 48px;
                color: rgb(0, 68, 255);
            }
            
            .container-bio #changing-word {
                font-weight: 300;
                font-size: 48px;
                color: rgb(1, 95, 44);
            }
            /* Estilos de los botones */
            
            .btn-buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                gap: 30px;
                border-radius: 40px;
                flex-wrap: wrap;
            }
            
            .btn-primary {
                padding: 20px;
                background-color: #0df443de;
                color: #0022ff;
                white-space: nowrap;
            }
            
            .btn-primary:hover {
                color: rgb(3, 96, 98);
                background-color: #0056b3;
            }
            /* Sección Servicios */
            
            .servicios {
                background: linear-gradient(to bottom, #35d4a2, #38ba38);
                color: rgb(91, 156, 178);
                padding: 0px 10% 10% 10%;
                text-align: center;
                width: auto;
            }
            
            .biocaps {
                background: linear-gradient(to bottom, #38ba38, #343a40);
                text-align: center;
            }
            /* Estilos del footer */
            
            .footer {
                background-color: #00162d;
                color: white;
                text-align: center;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .footer img {
                max-width: 100px;
                margin-bottom: 10px;
            }
            
            .footer a {
                color: #2dfdb8;
                margin: 0;
            }
            
            .footer .social-icons {
                display: flex;
                justify-content: center;
                gap: 10px;
            }
            /* Responsividad */
            
            .card {
                transition: transform 0.3s, box-shadow 0.3s;
            }
            
            .card:hover {
                transform: scale(1.05);
                box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
            }
            
            @media (max-width: 768px) {
                .main-nav ul {
                    flex-direction: column;
                }
                .nosotros-container {
                    padding: 5% 5%;
                }
                .container-bio {
                    margin: 2%;
                }
                .btn-primary {
                    width: 100%;
                }
            }
