             @import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&display=swap");
             @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

             .root {
                 --color-primario: #3b82f6;
                 --color-secundario: #10b981;
                 --color-fondo: #f3f4f6;
                 --color-texto: #1f2937;
                 --color-primary: #06417c;
                 --color-secondary: #cbf1de9a;
                 --color-text: #ffffff;
                 --font-family: 'Barlow', serif;
             }

             /* Diseño de cuadrícula y flexbox */

             body {
                 display: flex;
                 flex-direction: column;
                 justify-content: center;
                 align-items: center;
                 max-width: 100%;
                 min-height: 100%;
                 height: 100%;
                 background-color: #f3f4f6;
                 font-family: 'Barlow, serif';
             }

             .container-fluid img {
                 width: 20%;
                 height: 30%;
                 display: flex;
             }

             .container-fluid {
                 background-color: #01224500;
             }

             .bg-body-tertiary {
                 display: flex;
                 flex-direction: column;
             }

             .breadcrumb {
                 display: flex;
                 list-style: none;
             }

             .d-inline-block {
                 align-items: center;
             }

             .breadcrumb a {
                 color: rgb(0, 44, 124);
                 padding: 10px;
                 text-decoration: none;
                 font-weight: bold;
             }

             .breadcrumb a:hover {
                 color: rgb(224, 206, 206);
                 transition: color 0.3s ease;
                 text-decoration: underline;
             }

             .sobre-nosotros {
                 background: linear-gradient(to bottom, #93c1eb, #11b6a6);
             }

             .sobre-nosotros h1 {
                 padding-left: 10%;
                 padding-top: 10%;
                 font-family: "barlow", serif;
                 font-size: 2.7rem;
                 /* Tamaño del título */
                 font-weight: 500;
                 color: #001225;
             }

             .texto-sobre-nosotros h2 {
                 padding-left: 10%;
                 margin-top: 10px;
                 font-family: "barlow", serif;
                 font-weight: 300;
                 font-size: 1.7rem;
                 /* Tamaño del subtítulo */
                 color: #012245;
                 /* Color del subtítulo */
                 /* Espaciado inferior */
                 text-align: justify;
                 padding-bottom: 5%;
             }

             .sobre-nosotros p {
                 padding-left: 10%;
                 padding-top: 2%;
                 font-family: "barlow", serif;
                 margin-right: 20%;
                 font-size: 1.2rem;
                 /* Tamaño del texto */
                 padding-bottom: 1px;
                 /* Espaciado inferior */
                 text-align: justify;
                 font-family: "barlow", serif;
                 font-weight: 200;
                 color: #012245;
             }

             /* Pie de página */

             footer {
                 font-family: 'Barlow', serif;
                 color: rgb(255, 255, 255);
                 text-align: center;
                 background-color: #010913;
                 padding: 0px 80px;
                 /* Añadir un poco de espacio */
             }

             .footer {
                 display: flex;
                 /* Cambiar a flexbox para alineación horizontal */
                 justify-content: center;
                 /* Espacio entre elementos */
                 align-items: center;
                 /* Centrar verticalmente */
                 padding: 0 0px;
                 /* Espaciado lateral */
             }

             .footer-content {
                 flex: 1;
                 /* Permitir que el contenido ocupe espacio */
             }

             .logo {
                 display: flex;
                 flex-direction: column;
                 width: 250px;
                 /* Ajustar el tamaño del logo */
             }

             .footer a {
                 color: #2dfdb8;
                 /* Color de los enlaces */
                 margin: 0 px;
                 /* Espaciado entre enlaces */
             }

             .footer .social-icons {
                 display: flexbox;
                 /* Flexbox para iconos sociales */
                 justify-content: center;
                 /* Centrar iconos */
                 flex-direction: column;
             }

             .footer .social-icons a {
                 font-size: 40px;
                 margin: 0 20px 0px 20px;
                 /* Espaciado entre iconos */
             }

             .footer-content p {
                 color: #f2f630;
                 /* Color del texto */
                 font-size: 16px;
                 /* Tamaño de fuente */
             }

             .carousel-frame {
                 width: 550px;
                 height: 380px;
                 border: 2px solid #00000025;
                 overflow: hidden;
                 margin: 0 auto;
             }

             /* Ajuste del carrusel dentro del frame */

             .carousel-item {
                 text-align: center;
                 height: 380px;
                 color: blue;
             }

             .carousel-item img {
                 max-height: 250px;
                 object-fit: cover;
                 width: 100%;
             }

             .card-body {
                 background-color: rgba(0, 0, 0, 0.317);
                 color: rgb(255, 255, 255);
                 padding: 10px;
             }